
@{
  ViewData["Title"] = "Latest Business Activities Completed";
}

<style>


</style>


<div class="container">

  
  <div class="panel panel-default">

    <div class="jumbotron">
      <h1>Latest Business Activities Completed</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">List of Activities recently completed and can be shared with the business </h3>
      </div>
      <div class="panel-body" >
        <ul class="list-group">

          <li class="list-group-item">First item</li>

          <li class="list-group-item">Second item</li>

          <li class="list-group-item">Third item</li>

        </ul>
        <div>
          
        </div>

      </div>
     
    </div>

  </div>

</div>
