
@{
  ViewData["Title"] = "Feedback Tips";
}

<style>


</style>


<div class="container">

  
  <div class="panel panel-default">

    <div class="jumbotron">
      <h1>Feedback Tips</h1>
    </div>
    <div class="well">

      <h2>1. Do it early.</h2>


      Too often when someone does something that bugs them, leaders say it's not a big deal. But then the person does the same thing again (and again). The more you delay saying something about it, the more annoyed you'll become, and the less patient and effective you will be when you finally confront the person.

      <h2>2. Avoid shaming. </h2>



      Feedback can cause the recipient to feel shame or a loss of respect, particularly in certain Asian and Latin cultures. So be careful--nobody likes a bully.

      <h2>3. Focus on behavior. </h2>



      It’s impossible to change someone’s personality, but you can ask to change his or her behavior. The purpose of feedback is not to change someone else, but rather to motivate him or her to have a problem-solving conversation with you.
      <h2>4. Stay on your side of the net. </h2>
      


      Stick with the facts from your point of view, be behaviorally specific, and state the impact that the other person’s behavior is having on you. Avoid making “you” statements such as “you never listen to me." Instead try something more constructive like, “I feel unheard when you don’t respond to what I’ve said."

      <h2>5. Be generous. </h2>
      



      Assume that the other person thinks he or she is being reasonable. “Very few people get up in the morning, look in the mirror and say, ‘I wonder how I could be a worse colleague today than I was yesterday,'" said Robin.

      <h2> 6. Speak to the teams’s interests.</h2>
     


      “People will consider changing if you speak to their interests," Robin said. Show them how changing their behavior will help them and tell them why you are giving them this feedback--for example, you’re doing it because you care about their success, or because you are invested in having a productive relationship with them.

      <h2> 7. Practice. </h2>
     


      “We have had occasions where we went to give somebody feedback, our intention was good, and then it felt like we stepped in a pile of doo-doo. Then we don’t ever do it again,’’ Robin said. “We don’t get better by not doing it again.”


    </div>

  </div>

</div>
